@model HakanERP.Models.PersonellerModel
@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    @*<link rel="icon" type="image/png" href="~/tech.png" />*@

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v16/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_v16/css/main.css">
    <!--===============================================================================================-->
</head>
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <body>

        @Html.HiddenFor(model => model.ID)
        <div class="limiter">
            <div class="container-login100" style="background-image: url('~/Login_v16/images/bg-01.jpg');">
                <div class="wrap-login100 p-t-30 p-b-50">
                    @*<img style="width:200px;height:50px; margin-left:90px;" src="~/LogoTech.png" />*@
                    <br /><br />
                    <span class="login100-form-title p-b-41" style="color:black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                        GİRİŞ PANELİ
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttribute = new { @class = "input100" } })
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        @Html.PasswordFor(model => model.Sifre, new { htmlAttribute = new { @type = "password", @class = "input100" } })
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <p style="color:black; font-size:17px;">Beni Hatırla</p>

                            </td>
                            <td>

                                <input id="responsable" name="checkResp" value="true" type="checkbox" class="checkbox" style="width:25px; height:25px;" />
                            </td>
                        </tr>
                    </table>


                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn">
                            Giriş
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Şifremi Unuttum", "SifreUnut", "Login", new { @class = "login100-form-btn" })
                    </div>

                    <br /><br /><br /><br />
                    @*<p style="color:black; font-size:14px;">&copy; Technorob Yazılım Sistemleri Ltd. Şti. İş Takip Sistemi</p>*@
                </div>

            </div>
        </div>


        <div id="dropDownSelect1"></div>

        <!--===============================================================================================-->
        <script src="~/Login_v16/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Login_v16/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Login_v16/vendor/bootstrap/js/popper.js"></script>
        <script src="~/Login_v16/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Login_v16/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Login_v16/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/Login_v16/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/Login_v16/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="~/Login_v16/js/main.js"></script>

    </body>
}
</html>

